$background-color-primary: rgb(2, 0, 36);
$background-color-one: linear-gradient(270deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgb(164, 238, 253) 100%);
$color-bg-button: #b0ff92;
$color-hoover: #d6ff79;
$grey-dark: #414141;
$whitey: #f8f8f8;
$grey: #acacac;
$color-input: #303030;
$primary-font: "Poppins",
sans-serif;
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $background-color-primary;
    background: $background-color-one;
    font-family: $primary-font;
    min-height: 100vh;
}

header {
    font-size: 1.3rem;
    margin-top: 4rem;
    color: $whitey;
    font-weight: 500;
    min-height: 23vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 1.6rem;
    border: none;
    input[type="text"],
    input[type="text"]:focus {
        background: $whitey;
        padding: 0.5rem;
        font-size: 1.8rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }
    .placeholder-form::placeholder {
        color: $grey;
        font-style: italic;
        font-size: 1.5rem;
    }
}

button {
    border: none;
    padding: 0.85rem;
    font-size: 1.2rem;
    background: $color-bg-button;
    color: $grey-dark;
    &:hover {
        background-color: $color-hoover;
        color: $grey-dark;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    &:focus {
        background-color: $color-hoover;
        color: $grey-dark;
        cursor: pointer;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }
}

ul {
    margin: 4rem 20rem 4rem 25rem;
    width: 40%;
    color: $grey-dark;
    li {
        padding: 5px;
        width: 100%;
        font-weight: 300;
        font-size: 1.2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

ul>li>button {
    font-weight: 100;
    font-size: 1em;
    display: flex;
    border: none;
    padding: 0.2rem;
    background: $color-bg-button;
    color: $grey-dark;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background-color: $color-hoover;
        color: rgb(44, 40, 40);
    }
}