*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #020024;
  background: linear-gradient(150deg, #09486b 0%, #018592 100%);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.3rem;
  margin-top: 4rem;
  color: #f8f8f8;
  font-weight: 500;
  min-height: 23vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form {
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  border: none;
}

form input[type="text"] {
  background: #f8f8f8;
  color: #303030;
  padding: 0.65rem;
  font-size: 1.5rem;
  border: none;
  text-align: left;
}

.placeholder-form::-webkit-input-placeholder {
  color: #acacac;
  font-style: italic;
  text-align: center;
}

.placeholder-form:-ms-input-placeholder {
  color: #acacac;
  font-style: italic;
  text-align: center;
}

.placeholder-form::-ms-input-placeholder {
  color: #acacac;
  font-style: italic;
  text-align: center;
}

.placeholder-form::placeholder {
  color: #acacac;
  font-style: italic;
  text-align: center;
}

.placeholder-form:input::focus::-webkit-input-placeholder {
  color: transparent;
}

.placeholder-form:input::focus:-ms-input-placeholder {
  color: transparent;
}

.placeholder-form:input::focus::-ms-input-placeholder {
  color: transparent;
}

.placeholder-form:input::focus::placeholder {
  color: transparent;
}

button {
  border: none;
  padding: 0.85rem;
  font-size: 1.2rem;
  background: #f9e701;
  color: #414141;
}

button:hover {
  background-color: #83bd1a;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

button:focus {
  background-color: #83bd1a;
  color: #414141;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

ul {
  margin: 4rem 15rem 4rem 25rem;
  width: 42%;
  color: #f8f8f8;
  padding: 1rem;
}

ul li {
  margin-bottom: 0.3rem;
  border: solid 0.1rem #acacac;
  padding: 0.8rem;
  width: 100%;
  font-weight: 300;
  font-size: 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul > li > button {
  font-weight: 300;
  padding: 0.65rem;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  background: #f9e701;
  color: #414141;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

ul > li > button:hover {
  background-color: #83bd1a;
}
/*# sourceMappingURL=style.css.map */