*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to left, #fffeb6, #e9e789);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 2rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    background: #f1f07c;
    color: rgba(71, 65, 65, 0.596);
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

form button:hover {
    background: #f1ef7cd7;
    color: rgb(44, 40, 40);
}